body {
  font-family: 'Arial', sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family:cursive;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

input {
  font-family: cursive;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

input:focus {
  outline: none;
  border-color: #3498db;
}

.accha{
  color: white;
}

.FaSearch {
  cursor: pointer;
  font-size: 24px;
  
}

.display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  max-width: 250px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-card h2 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.movie-card p {
  font-size: 14px;
  color: #555;
}
.movie-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .movie-card {
    max-width: 100%; 
  }
}
